// -----------------------------------------------------------------
// Column Top
// -----------------------------------------------------------------
.p-columntop .c-box {
  width: calc(50% - .5em);
}
.p-columntop__list {
  display: flex;
  flex-wrap: wrap;
}