// -----------------------------------------------------------------
// Museum Top
// -----------------------------------------------------------------
.p-museumtop .c-box {
  width: calc(50% - .5em);
}
.p-museumtop__list {
  display: flex;
  flex-wrap: wrap;
}