// -----------------------------------------------------------------
// Recent news
// -----------------------------------------------------------------
.p-recent_news__list {
  list-style: none;
  font-size: .9rem;
}
.p-recent_news__category {
  @include boxLabel;
  margin-top: .2em;
  margin-right: .5em;
  &[data-category="news"] {
    background-color: $news-news-c;
  }
  &[data-category="announce"] {
    background-color: $news-announce-c;
  }
}