<header class="p-header">
  <h1 class="p-header__title">恐竜ずかん</h1>
  <ul class="p-header__items">
    <li class="p-header__item">
      <i class="fas fa-search p-header__item__icon"></i>
      <h3 class="p-header__item__name">さがす</h3>
    </li>
    <li class="p-header__item">
      <i class="fas fa-door-open p-header__item__icon"></i>
      <h3 class="p-header__item__name">ログイン</h3>
    </li>
    <li class="p-header__item">
      <i class="fas fa-bars p-header__item__icon"></i>
      <h3 class="p-header__item__name">メニュー</h3>
    </li>
  </ul>
</header>