<nav class="p-nav">
  <button class="p-nav__close">×</button>
  <ul class="p-nav__list">
    <li class="p-nav__item">
      <p class="p-nav__category">カテゴリからさがす</p>
      <ul class="p-nav__sublist">
        <li class="p-nav__subitem"><a href="">竜盤目</a></li>
        <li class="p-nav__subitem"><a href="">鳥盤目</a></li>
      </ul>
    </li>
    <li class="p-nav__item"><a href="">人気からさがす</a></li>
    <li class="p-nav__item"><a href="">特徴からさがす</a></li>
    <li class="p-nav__item"><a href="">新規登録</a></li>
    <li class="p-nav__item"><a href="">ご利用ガイド</a></li>
    <li class="p-nav__item"><a href="">よくある質問</a></li>
  </ul>
</nav>