// ==========================================================================
// Layout
// ==========================================================================
// -----------------------------------------------------------------
// Header
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Sidenav
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Footer
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// main
// -----------------------------------------------------------------
.l-main {
  margin-top: 70px;
  padding: 0 20px;
  @include pc {
    padding: 0;
  }
}
.l-inner {
  width: 100%;
  margin: auto;
  @include pc {
    max-width: 960px;
  }
}