// ==========================================================================
// column
// ==========================================================================
// -----------------------------------------------------------------
// title
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// boxes
// -----------------------------------------------------------------
.p-column__list {
  @include boxWrapRow;
}
.p-column__category {
  @include boxLabel;
  color: #fff;
  &[data-category="dinosaur"] {
    background-color: #c45719;
  }
  &[data-category="knowledge"] {
    background-color: #0f75b9;
  }
  &[data-category="history"] {
    background-color: #0c964a;
  }
  &[data-category="expert"] {
    background-color: #a1980d;
  }
}
.p-column__eyecatch {
  @include pageEyecatch;
}