// ==========================================================================
// museum
// ==========================================================================
// -----------------------------------------------------------------
// title
// -----------------------------------------------------------------

// -----------------------------------------------------------------
// boxes
// -----------------------------------------------------------------
.p-museum__list {
  display: flex;
  flex-wrap: wrap;
  .c-box {
    width: calc(50% - .5em);
  }
}