<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="./style.css"> -->
  <title>Document</title>
</head>
<body>
  Hello, Dinosaurs!
  <p class="c-dialog">This is a dictionary for lovely dinosaurs.</p>
  <div style="width: 200px; height: 200px;" class="c-image"></div>
  <a href="./pages/demo/index.html">下層ページへ</a>
  <img src="./assets/images/slide01.png" alt="">
</body>
</html>